extends layout

block content
  .inner
    h2= title
    form(action="/account" method="POST")
      label(for="name") Name
      input(type="text" name="name" id="name" value=user.name)
      label(for="email") Email Address
      input(type="text" name="email" id="email" value=user.email)
      input(type="submit" value="Update My Account")